<!DOCTYPE html> 
<html xlmns:th='http://www.thymeleaf.org'>
<head th:replace="page/page-head::copy"></head>
<body>
    <header th:replace="page/page-header::copy"></header>
    <nav th:replace="page/page-nav::copy"></nav>
    <main>

<div th:fragment="copy" class="row h-100">
    <div class="col-6 d-flex justify-content-center h-100 p-5">
        <img th:src="@{'/img/cover/'+${livre.id_book}+'.jpg'}" onerror='this.onerror=null;this.src="/img/cover/base-cover.jpeg";'>
        <!--<object data="/img/cover/base-cover.jpeg" type="image/jpg"><img th:attr="src='/img/cover/'+${livre.id_book}+'.jpg'"></object>-->
    </div>
    <div class="col-6 h-100 p-5">
        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <td><h3>Titre</h3></td>
                        <td><h3 id="titre" class="box-book-title"  th:text="${livre.title}"></h3></td>    
                    </tr>
                    <tr>
                        <td><h4>Auteur</h4></td>
                        <td><h4 id="auteur" class="box-book-author" th:text="${livre.author}"></h4></td>                
                    </tr>
                    <tr>
                        <td>Editeur</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Date Parution</td>
                        <td>?</td>      
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>?</td>    
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a th:href="'/livres/'+${livre.id_book}+'/read'" class="btn btn-primary">READ ME</a>
        </div>
    </div>
</div>

    </main>
    <footer th:replace="page/page-footer::copy"></footer>
</body>
</html> 