<!DOCTYPE html> 
<html xlmns:th='http://www.thymeleaf.org'>
    <head th:replace="page/page-head::copy"></head>
    <body>
        <header th:replace="page/page-header::copy"></header>
        <nav th:replace="page/page-nav::copy"></nav>
        <main>

<div th:fragment="copy" class="box box-book-list">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex justify-content-center book-card" th:each="livre:${livres}">
            <div class="card m-2 book-img">
                <a th:attr="href='/livres/'+${livre.id_book}">
                <img class="card-img-top" th:src="@{'/img/cover/'+${livre.id_book}+'.jpg'}" onerror='this.onerror=null;this.src="/img/cover/base-cover.jpeg";'>
                <div class="card-body">
                    <h3 class="card-title" th:text="${livre.title}"></h3>
                    <h4 class="card-text"  th:text="${livre.author}"></h4>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
            <div class="card">
                <a href="/livres/add">
                <img class="card-img-top" src="/img/add_icon.png" style="width: 18rem;" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
        </main>
        <footer th:replace="page/page-footer::copy"></footer>
    </body>
</html> 