<!DOCTYPE html> 
<html xlmns:th='http://www.thymeleaf.org'>
    <head th:replace="page/page-head::copy"></head>
    <body>
        <header th:replace="page/page-header::copy"></header>
        <nav th:replace="page/page-nav::copy"></nav>
        <main>
        
<div class="box">
    <div class="row">
        <div class="col-1 chapter-navbar">
            <button th:each="chapter : ${livre.chapters}" th:text=${chapter.nom}  type="button" class="btn btn-primary" data-bs-toggle="collapse" th:data-bs-target="'#collapse-s'+${chapter.id_chapter}" aria-expanded="false" th:aria-controls="'collapse-s'+${chapter.id_chapter}"></button>
        </div>
        <div id="sections" class="col-11 chapter-container">  
            <div th:each="chapter : ${livre.chapters}" th:id="'collapse-s'+${chapter.id_chapter}" class="collapse" data-bs-parent="#sections">
                <div class="page" th:each="page : ${chapter.pages}" >
                    <p th:utext="${page.texte}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

        </main>
        <footer th:replace="page/page-footer::copy"></footer>
    </body>
</html> 