/* read book style */
.book-card {
    height: 85vh;
}

.book-img {
    width: 65%;
}

.book-img img {
    height: 65vh;
}

/* read book style */
.chapter-navbar {
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow: scroll;
}

.chapter-navbar > * {
    width: 100%;
}

.chapter-navbar button {
    border-radius:0;
}

.chapter-container {
    height: 85vh;
    overflow: scroll;
}

.page {
    border: 1px solid black;
}