/* GLOBAL PROPERTY */
html, body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
    padding: 0em;
}

/* HEADER */
header,
#header,
.header {
    position: absolute !important;
    top: 0;
    width: 70vw;
    height: 10vh;

    border: 2px solid black;
}

header #title-page {
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    font-size: 4vw;
}

/* NAV */
nav,
#nav,
.nav {
    position: absolute !important;
    top: 0;
    left: 70vw;
    width: 30vw;
    height: 10vh;

    border: 2px solid black;
    text-align: right;
    font-size: 2vw;
}

/* MAIN */
main,
#main,
.main {
    position: absolute !important;
    top: 10vh;
    width: 100vw;
    height: 85vh;
    overflow-y: scroll;
}

/* FOOTER */
footer,
#footer,
.footer {
    position: absolute !important;
    top: 95vh;
    width: 100vw;
    height: 5vh;

    border: 2px solid black;
    text-align: center;
    background-color: white;
    font-size: 1vw;
}

/* SECTION */
section {
    margin:1em;
}

/* VUE MOBILE */
@media screen and (max-width:1000px) {
    header,#header,.header {
        width: 100vw;
        height: 5vh;
    }

    nav,.nav,#nav {
        width:100vw;
        height: 5vh;
        top:5vh;
        left:0;
    }
    
    main,.main,#main {
        width: 100vw;
        height: 80vh !important;
        top: 10vh;
    }

    footer,.footer,#footer {
        width: 100vw;
        height: 5vh;
    }
}

/* BOOTSTRAP CONTAINER */
.row {
    --bs-gutter-x: 0em !important;
}

.card {
    height: 81vh;
    margin: 2vh 0vh !important;
    overflow-y: hidden;
}

.card-title, .card-text {
    color: black;
}
.card a:link {
    text-decoration: none;
}