<head th:fragment="copy">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Carte-O-Culture</title>
    <!-- CSS Libraries -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
    <link rel='stylesheet' type="text/css" th:href="@{/css/page.css}">
    <link rel='stylesheet' type="text/css" th:href="@{/css/book.css}">
    <link rel='stylesheet' type="text/css" th:href="@{/css/map.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <!-- JS Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>