<nav class="navbar navbar-expand justify-content-between" th:fragment="copy">
    <!-- 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
    </div>
    -->
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/livres/">LIVRES<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/carte/">CARTE</a>
        </li>
    </ul>
</nav>