<!DOCTYPE html> 
<html xlmns:th='http://www.thymeleaf.org'>
    <head th:replace="page/page-head::copy"></head>
    <body>
        <header th:replace="page/page-header::copy"></header>
        <nav th:replace="page/page-nav::copy"></nav>
        <main>

<!-- Element pour selectionner les livres-->
<section>
    <div class="row m-2">
        <select class="form">
            <option value="0">Selectionner un livre</option>
            <option th:each="livre : ${livres}" th:value="${livre.id_book}" th:text="${livre.title}"></option>
        </select>
    </div>
</section>

<section>
    <div class="row">
        <!-- Element pour selectionner les villes-->
        <div class="col-3">
            <h2>VILLES DISPONIBLES</h2>
            <div class="bar"></div>
            <div class="box-livres" th:each="ville : ${villes}">
                <button id="" class="livre" th:text="${ville.nom}+'|'+${ville.latitude}+'|'+${ville.longitude}" onclick="toggleMarker(this.id)"></button>
            </div>
        </div>

        <!--Élément pour afficher la carte-->
        <div id="map" class="col-9"></div>
    </div>
</section>

    </main>
        <footer th:replace="page/page-footer::copy"></footer>
    </body>
</html> 

<style>
    #map {
        height:400px;
    }
</style>

<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type="text/javascript">
var carte = null;

function initMap() {
    let center = [48.852969,2.349903];
    carte = L.map('map').setView(center, 5);
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        minZoom: 1,
        maxZoom: 20
    }).addTo(carte);
}

// Focntion de manipulation d'un objet JS marker
function loadMarker() {
    var livres = $(".livre");
    var i = 0;
    livres.each(function() {
        var ville = this.innerHTML.split("|");
        lat = parseFloat(ville[1]);
        lon = parseFloat(ville[2]);
        addMarker(lat,lon);
        $(this).addClass("marker-toggler");
        this.setAttribute("id",i);
        i+=1;
    })	
}

// Fonction marker
function addMarker(lat,lon) {
    if (lat != undefined && lon != undefined) {
        L.marker([lat, lon]).addTo(carte);
    }
}

function removeMarker() {

}

function toggleMarker(id) {
    markers.get(id)

    // recup marker per id
    // changer couleur / icon du marker
}

// Fonction line
function addLine() {

}


// Launching
window.onload = function(){
    initMap(); 
    loadMarker();
    var markers = $('#data').data("json");
    addLine();
};
</script>
